asn1crypto==1.5.1 ; python_version >= "3.8" and python_version < "3.9"
certifi==2023.7.22 ; python_version >= "3.8" and python_version < "3.9"
cffi==1.16.0 ; python_version >= "3.8" and python_version < "3.9"
charset-normalizer==3.3.0 ; python_version >= "3.8" and python_version < "3.9"
cryptography==41.0.4 ; python_version >= "3.8" and python_version < "3.9"
filelock==3.12.4 ; python_version >= "3.8" and python_version < "3.9"
idna==3.4 ; python_version >= "3.8" and python_version < "3.9"
oscrypto @ git+https://github.com/wbond/oscrypto.git@1547f53 ; python_version >= "3.8" and python_version < "3.9"
packaging==23.2 ; python_version >= "3.8" and python_version < "3.9"
platformdirs==3.11.0 ; python_version >= "3.8" and python_version < "3.9"
pycparser==2.21 ; python_version >= "3.8" and python_version < "3.9"
pycryptodomex==3.19.0 ; python_version >= "3.8" and python_version < "3.9"
pyjwt==2.8.0 ; python_version >= "3.8" and python_version < "3.9"
pyopenssl==23.2.0 ; python_version >= "3.8" and python_version < "3.9"
python-dotenv==1.0.0 ; python_version >= "3.8" and python_version < "3.9"
pytz==2023.3.post1 ; python_version >= "3.8" and python_version < "3.9"
requests==2.31.0 ; python_version >= "3.8" and python_version < "3.9"
snowflake-connector-python==3.3.0 ; python_version >= "3.8" and python_version < "3.9"
sortedcontainers==2.4.0 ; python_version >= "3.8" and python_version < "3.9"
tomlkit==0.12.1 ; python_version >= "3.8" and python_version < "3.9"
typing-extensions==4.8.0 ; python_version >= "3.8" and python_version < "3.9"
urllib3==1.26.17 ; python_version >= "3.8" and python_version < "3.9"